[Unit]
Description=here is the description

[Service]
ExecStart=/home/chris/.config/services/timer-service/timeOnly.sh

[Install]
RequiredBy=graphical.target
